.profile-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
    margin-bottom: 50vh;
    gap: 50px;
}

.profile-border {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 50%;
    gap: 200px;
    border: 1px solid rgb(223, 223, 223);
}

.profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.profile-column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

    .profile-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .profile-content h2 {
        font-size: 30px;
        font-family: "Inconsolata";
        font-weight: 400;
        font-style: normal;
    }

    .profile-icon {
        display: flex;
        width: 30%;
        height: 30%;
    }