body,
html {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
}

/* header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
}

.title {
    width: 100%;
    margin-inline: 30px;
    font-weight: bold;
}

.nav-container {
    position: absolute;
    right: 12%;
    top: 15%;
    z-index: 2;
}


.nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: right;
    font-family: "Gravitas One", serif;
    font-weight: 100;
    font-style: normal;
}

.nav-list a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

/* FirstView */
.firstview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.firstview-border {
    color: white;
    position: relative;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: rgb(0, 0, 0);
}

.firstview-container .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.firstview-container .typewriter {
    font-size: 50px;
    font-weight: 300;
    user-select: none;
    font-family: "Inconsolata";
}

.firstview-container .scramble {
    font-size: 15px;
    font-weight: 300;
    user-select: none;
    font-family: "Inconsolata";
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.firstview-container .cursor {
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 50px;
    animation: blink 1s step-start 1.5s infinite;
}

.firstview-container .maintext {
    display: flex;
    gap: 5px;
}

.firstview-container .down {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

/* About */
.nav-about {
    position: absolute;
    margin-top: 600px;
}

.about-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
}

.about-container h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: 550px;
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.profile-icon {
    width: 200px;
    height: 200px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 2;
}

.profile-text .name {
    font-size: 25px;
    font-weight: 500;
    font-family: "Inconsolata";
}

/* Works */
.nav-works {
    position: absolute;
    margin-top: 900px;
}

.works-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works-container h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 100px;
}

.works-box {
    max-width: 500px;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 50vh;
}

.works-button,
.works-button-2 {
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    transition: all 0.2s ease-out;
}

.works-button-2 {
    background-color: white;
    color: black;
}

.works-button:hover,
.works-button-2:hover {
    width: 100%;
}

/* Connect */
.connect-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
}

.connect-container h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 100px;
}

.connect-icons {
    display: flex;
    gap: 50px;
}

.connect-icons .icon {
    width: 30px;
    height: 30px;
    user-select: none;
}

footer {
    display: flex;
    height: 50px;
    justify-content: start;
    margin-left: 30px;
}

/* software.html */
.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.works-title {
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-left: 100px;
}

.title-container h1 {
    font-size: 40px;
}

.title-container h2 {
    font-size: 20px;
    color: rgb(104, 104, 104);
}

.gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

.software-items {
    display: flex;
    gap: 30px;
}

.software-items span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.software-items h3 {
    font-weight: bold;
    font-size: 20px;
}

.software-items p {
    line-height: 1.8;
}

.software-items .tags {
    display: flex;
    gap: 10px;
}

.software-items .tag {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 1.5px solid;
    font-size: 13px;
    margin-top: 10px;
    color: rgb(104, 104, 104);
}

.works-image {
    width: 320px;
    height: 180px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

/* fonts */
.noto-sans-jp-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.roboto-en {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html.glitch {
    text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

html.glitch .enter-button {
    filter: drop-shadow(0.06rem 0 0.06rem #ea36af) drop-shadow(-0.125rem 0 0.06rem #75fa69);
    animation-duration: 0.01s;
    animation-name: svgflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

html.glitch .firstview-container .cursor {
    filter: drop-shadow(0.06rem 0 0.06rem #ea36af) drop-shadow(-0.125rem 0 0.06rem #75fa69);
    animation-duration: 0.01s;
    animation-name: svgflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes svgflicker {
    from {
        filter: drop-shadow(1px 0 0 #ea36af) drop-shadow(-2px 0 0.0 #75fa69);
    }

    to {
        filter: drop-shadow(2px 0.5px 2px #ea36af) drop-shadow(-1px -0.5px 2px #75fa69);
    }
}

@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }

    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}